
.icon-ico1:before { content: '\e804'; } /* '' */
.icon-ico2:before { content: '\e805'; } /* '' */
.icon-ico3:before { content: '\e806'; } /* '' */
.icon-ico4:before { content: '\e807'; } /* '' */
.icon-ico5:before { content: '\e808'; } /* '' */
.icon-ico6:before { content: '\e809'; } /* '' */
